.header {
  height: 15rem;
  background: url("../images/bg-mobile-light.jpg") no-repeat right center / 100%
    100%;
  transition: 0.3s;
  padding: 0.2rem;
}

.header.header--dark {
  background: url("../images/bg-mobile-dark.jpg") no-repeat right center / 100%
    100%;
}

.header__switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__switch h2 {
  color: var(--Clr-White);
  letter-spacing: 0.5rem;
  margin: 0;
  text-transform: uppercase;
}

.header__switch button {
  background: transparent;
  border: none;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
}

.header__content {
  width: 90%;
  max-width: 45rem;
  margin: 4rem auto 0;
}

.header form {
  margin-top: 2rem;
}

.header__input__container {
  display: flex;
  background-color: var(--Very-Light-Gray);
  border-radius: 0.3rem;
  align-items: center;
  padding-inline: 1rem;
  transition: 0.3s;
}

.header__input__container button {
  display: none;
}

.header__input__container span {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  border: 1px solid var(--Light-Grayish-Blue);
}

.header__input__container input {
  height: 100%;
  flex: 1;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 1rem;
}

@media screen and (min-width: 50rem) {
  .header {
    background: url("../images/bg-desktop-light.jpg") no-repeat right center /
      100% 100%;
  }

  .header.header--dark {
    background: url("../images/bg-desktop-dark.jpg") no-repeat right center /
      100% 100%;
  }

  .header__input__container {
    padding-inline: 1.3rem;
  }
}
